<div class="uk-navbar-container uk-box-shadow-medium uk-width-1-6 uk-padding-small">
    <div uk-grid class="uk-text-center">
        <picture>
            <source type="image/avif" data-srcset="/files/icons/32x32.avif">
            <img data-src="files/icons/32x32.png" alt="Logo">
        </picture>
        <span swac_lang="Navigation.navigation" >Navigation</span>
    </div>
    <div style="clear:both">
        <ul class="uk-nav uk-nav-default">
            <li class="swac_nav_addons_mob">
            </li>
            <li class="swac_repeatForSet">
                <a href="{rto}" swac_id="{id}" swac_parent="{parent}" swac_lang="{name}">{name}</a>
                <ul class="uk-nav-sub swac_forChilds">
                    <li class="swac_child"><a href="{rto}" swac_lang="{name}">{name}</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>