<div class="swac_commandrouter_resultdisplay_modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h3 class="uk-modal-title" swac_lang="CommandRouter.results_headline">Command results</h3>
        <div class="swac_commandrouter_resultdisplay_error"
             style="display:none; padding:8px 12px; border-radius:6px;
             background:#ebf8ff; margin-bottom:10px;"></div>
        <table class="swac_commandrouter_resultdisplay_table uk-table uk-table-striped uk-table-small"
               style="display:none;">
            <tbody class="swac_commandrouter_resultdisplay_tbody"></tbody>
        </table>
    </div>
</div>
<span class="swac_commandrouter_countdown_cur" style="display:none;"></span>
<span class="swac_commandrouter_countdown_max" style="display:none;"></span>