<div class="swac_onDesktop uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-striped">
        <tr>
            <th class="swac_repeatForAttribute">{attrName}</th>
        </tr>
        <tr class="swac_repeatForSet uk-position-relative">
            <td class="swac_repeatForValue" swac_id="{id}">
                <span>{*}</span>
            </td>
        </tr>
    </table>
</div>
<div class="swac_onMobile">
    <div class="swac_repeatForSet uk-margin-large-bottom uk-position-relative uk-overflow-auto">
        <table class="uk-table uk-table-hover uk-table-striped">
            <tr class="swac_repeatForValue uk-position-relative">
                <td>{attrName}</td>
                <td class="swac_repeatForValue.">{*}</td>
            </tr>
        </table>
    </div>
</div>